.total {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1350px;
    padding: 30px 15px;
    margin: 0 auto;
}
.total div {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 676px;
}
.total p {
    width: auto;
    margin-bottom: 0;
}
/*media*/
@media(max-width: 480px){
    .total div {
        flex-wrap: wrap;
    }
    .total p {
        width: 100%;
        margin-bottom: 10px;
    }
    .total p:last-child {
        margin-bottom: 0;
    }
}
